.title
	+verdana
	+f(44px, 700, 1.23)
	color: $black
	letter-spacing: normal
	+md
		font-size: 25px
		line-height: 1.33
.title-lg
	+verdana
	+f(44px, 700, 1.22)
	color: $black
	letter-spacing: normal
	+sm
		font-size: 30px
		line-height: 1.33
.title-m
	+verdana
	+f(30px, 700, 1.8)
	color: $black
	letter-spacing: normal
	+sm
		font-size: 25px
		line-height: 1.24
.title-sm
	+verdana
	+f(21px, 700, 1.48)
	color: $black
	letter-spacing: normal
	+sm
		font-size: 19px

.subtitle
	+verdana
	+f(18px, 700, 1.23)
	color: $text
	letter-spacing: normal

.text-center
	text-align: center

.article,
article
	p
		line-height: 1.87
		letter-spacing: 0.013em
		&:not(:first-child)
			margin-top: 28px
	h1
		&:not(:last-child)
			margin-bottom: 40px
			+sm
				margin-bottom: 18px

