<div class="certificate section-md js-navigation-section" id="certificate">
	<div class="certificate__inner inner-sm">
		<h2 class="certificate__title title text-center">После прохождения курса вы получите Сертификат</h2>
		<div class="section">
			<div class="certificate__content bg-white">
				<div class="certificate__img">
					<img src="./img/certificate.png" alt="certificate">
				</div>
				<ol class="certificate__bullets">
						{% for item in [
							{
								text: 'Сертификат, который дает право на работу инструктором по пилатесу!'
							},
							{
								text: 'Сертификат, который будет действителен не только на всей территории Российской Федерации.'
							},
							{
								text: 'Сертификат, который вы можете разместить в резюме, что позволит более выгодно выглядеть на фоне других соискателей должности!'
							},
							{
								text: 'Возможность пройти следующие курсы (MatWork 2 + Малое оборудование), Большое оборудование, и другие) для профессионального и личностного роста!'
							}
						] %}
							<li class="certificate__bullets-item">
								{{ui.bullet(item)}}
							</li>
						{% endfor %}
					</ol>
			</div>
		</div>
		<div class="certificate__feedback feedback">
			<div class="feedback__inner">
				<p>После курса вы будете специалистом в области пилатес практики и инструктажа, сможете эффективно пользоваться всеми навыками и проводить занятия для своих учеников.</p>
				<div class="feedback__btn">
					<a href="#" class="btn btn_shadow">Записаться на курс</a>
				</div>
			</div>
		</div>
	</div>
</div>