<div class="gallery section-md">
	<div class="gallery__inner inner-md">
		<div class="head">
			<h2 class="head__title title">Фото с прошедших курсов</h2>
		</div>
		{{gallery.block([
			{
				video: 'https://www.youtube.com/watch?v=_sI_Ps7JSEk',
				img: 'gallery.png'
			},
			{
				img: 'gallery.png'
			},
			{
				img: 'gallery.png'
			},
			{
				img: 'gallery.png'
			},
			{
				img: 'gallery.png'
			},
			{
				img: 'gallery.png'
			},
			{
				img: 'gallery.png'
			}
			])}}
	</div>
</div>