{% import "partials/_mixins.html" as mixins %}
{% macro block(props) %}
<div class="gallery js-gallery-slider-wrap">
	<div class="gallery__slider js-gallery">
		{% for item in props %}
			 <div class="gallery__slide video">
				 {% if item.video %}
				 <a data-fancybox="gallery" href="{{item.video}}" class="gallery__item js-fancybox" style="background-image: url(./img/{{item.img}})">
					<button type="button" class="video__play play">
						{{mixins.icon('play')}}
					</button>
				</a>
				 {% else %}
				 <a data-fancybox="gallery" href="./img/{{item.img}}" class="gallery__item js-fancybox" style="background-image: url(./img/{{item.img}})"></a>
				 {% endif %}
			 </div>
		{% endfor %}
	</div>
	<div class="gallery__nav-wrap">
		<div class="gallery__prev js-arrow-prev sm-hide">
			<button type="button" class="prev">
				<div class="prev__link">
					{{ mixins.icon('arrow-left') }}
				</div>
			</button>
		</div>
		<div class="gallery__next js-arrow-next sm-hide">
			<button type="button" class="next">
				<div class="next__link">
					{{ mixins.icon('arrow-right') }}
				</div>
			</button>
		</div>
		<div class="gallery__nav js-gallery-nav">
			{% for item in props %}
				<div class="gallery__nav-item">
					<div class="gallery__img-wrap">
						{% if item.video %}
							<img src="./img/{{item.img}}">
							<button type="button" class="gallery__play-sm play">
								{{mixins.icon('play')}}
							</button>
						{% else %}
						<img src="./img/{{item.img}}">
						{% endif %}
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</div>
{% endmacro %}