<div class="quotes-section section-md">
	<div class="quotes-section__inner inner">
		<h2 class="section-md__title title text-center">Чему вы научитись на курсе?</h2>
		<ul class="quotes-section__row row">
			{% for item in [
				'Общим и основным правилам проведения занятий по пилатесу.',
				'Основным принципам внутреннего контроля во время занятий.',
				'Правильному выполнению 15 базовых упражнений пилатес.',
				'Разбираться в анатомическом строении тела человека.',
				'Эффективным методам по улучшению осанки.',
				'Пилатес - путь к красивому, гибкому и подтянутому телу'
			] %}
				<li class="quotes-section__col col-2 col-md-3 col-sm-6">
					{{ui.quote(item)}}
				</li>
			{% endfor %}
		</ul>
		<div class="quotes-section__btn">
			<a href="#" class="btn btn_lg">Записаться на курс</a>
		</div>
	</div>
</div>