{% import "partials/_mixins.html" as mixins %}
{# 									COURSE #}
{% macro course(props) %}
<a href="#" class="course {% if props.class %}{{props.class}}{% endif %}">
	<span class="course__top-wrap">
		{% if props.img %}
		<div class="course__img">
			<img src="./img/{{props.img}}" alt="course">
		</div>
		{% endif %}
		<div class="course__top">
			<div class="course__aside">Пилатес</div>
			<h3 class="course__title title title_md">{{props.title}}</h3>
		</div>
	</span>
	<span class="course__bottom-wrap">
		<div class="course__bottom">
			{% if props.single %}
			<div class="course__time">{{props.single}}</div>
			{% else %}
			<div class="course__time">{{props.time}}</div>
			<div class="course__price">{{props.price}}</div>
			{% endif %}
		</div>
		<div class="course__buy">
			Купить курс
		</div>
	</span>
</a>
{% endmacro %}
{# 									COURSE #}

{# 									EVENT #}
{% macro event(props) %}
<a href="#" class="event {% if props.class %}{{props.class}}{% endif %}">
	<div class="event__img">
		<img src="./img/{{props.img}}" alt="event">
	</div>
	<div class="event__date"><span>{{props.event}}</span> {{props.date}}</div>
	<h4 class="event__title title title_md">{{props.title}}</h4>
</a>
{% endmacro %}
{# 									EVENT #}

{# 									INSTRUCTOR #}
{% macro instructor(props) %}
<div class="instructor {% if props.class %}{{props.class}}{% endif %}">
	<div class="instructor__top"></div>
	<div class="instructor__bottom">
		<div class="instructor__img" style="background-image: url(./img/instructor.png)"></div>
		<h4 class="instructor__title title title_md">{{props.name}}</h4>
		<div class="instructor__aside">{{props.aside}}</div>
		<p>{{props.text}}</p>
	</div>
</div>
{% endmacro %}
{# 									INSTRUCTOR #}

{# 									TESTIMONIAL #}
{% macro testimonial(props) %}
	<div class="testimonial {% if props.class %}{{props.class}}{% endif %}">
		<div class="testimonial__top">
			<div class="testimonial__img" style="background-image: url(./img/testimonial.png)"></div>
			<div class="testimonial__main">
				<h4 class="testimonial__title title title_md">{{props.name}}</h4>
				<div class="testimonial__aside">{{props.aside}}</div>
			</div>
		</div>
		<div class="testimonial__bottom">
			<div class="testimonial__quote"></div>
			<p>{{props.text}}</p>
		</div>
	</div>
{% endmacro %}
{# 									TESTIMONIAL #}

{# 										FORM #}
{% macro form(props) %}
<!-- <div class="feedback__wrap inner"> -->
	<div class="feedback {% if props.class %}{{props.class}}{% endif %}">
		<div class="feedback__inner">
			<h3 class="feedback__title title title_lg">{% if props.title %}{{props.title}}{% endif %}</h3>
			<form action="/" class="form js-validation">
				<ul class="form__row row">
					<li class="form__col col-3 col-lg-4 col-sm-12">
						<div class="form-group">
							<input
								type="text"
								placeholder="Имя"
								data-validation="length"
								data-validation-length="min2"
								data-validation-error-msg="Имя должно быть не менее двух символов">
						</div>
					</li>
					<li class="form__col col-3 col-lg-4 col-sm-12">
						<div class="form-group">
							<input type="text" 
								placeholder="Телефон" 
								data-validation="custom"
								data-validation-regexp="^(\+7|7|8)?[\s\-]?\(?[489][0-9]{2}\)?[\s\-]?[0-9]{3}[\s\-]?[0-9]{2}[\s\-]?[0-9]{2}$"
								data-validation-error-msg="Пожалуйста, введите правильный номер телефона"
							/>
						</div>
					</li>
					<li class="form__col col-3 col-lg-4 col-sm-12">
						<div class="form-group">
							<input
								type="text"
								placeholder="Email"
								data-validation="email"
								data-validation-error-msg="Пожалуйста, введите правильный адрес"
							/>
						</div>
					</li>
					<li class="form__col col-3 col-lg-12">
						<div class="form__btn">
							<button type="submit" class="btn btn_md">Отправить</button>
						</div>
					</li>
				</ul>
				<div class="feedback__check">
					{{mixins.checkbox({
						text: 'условиями обработки персональных данных',
						checked: true,
						validation: true
					})}}
				</div>
			</form>
		</div>
	</div>
<!-- </div> -->
{% endmacro %}

{% macro contactsForm(props) %}
<div class="feedback {% if props.class %}{{props.class}}{% endif %}">
	<div class="feedback__inner">
		<h3 class="feedback__title title title_lg">{% if props.title %}{{props.title}}{% endif %}</h3>
		<form class="form-contacts js-validation">
			<div class="form-contacts__row row">
				<div class="form-contacts__col col-4 col-md-12">
					<div class="form-group">
						<input
							type="text"
							placeholder="Имя"
							data-validation="length"
							data-validation-length="min2"
							data-validation-error-msg="Имя должно быть не менее двух символов"
						/>
					</div>
				</div>
				<div class="form-contacts__col col-4 col-md-12">
					<div class="form-group">
						<input type="text" 
							placeholder="Телефон"
							data-validation="custom"
							data-validation-regexp="^(\+7|7|8)?[\s\-]?\(?[489][0-9]{2}\)?[\s\-]?[0-9]{3}[\s\-]?[0-9]{2}[\s\-]?[0-9]{2}$"
							data-validation-error-msg="Пожалуйста, введите правильный номер телефона"
						/>
					</div>
				</div>
				<div class="form-contacts__col col-4 col-md-12">
					<div class="form-group">
						<input 
							type="text"
							placeholder="Email"
							data-validation="email"
							data-validation-error-msg="Пожалуйста, введите правильный адрес"
						/>
					</div>
				</div>
				<div class="form-contacts__col col-12">
					<div class="form-group">
						<textarea 
							placeholder="Сообщение"
							data-validation="required"
							data-validation-error-msg="Пожалуйста, введите сообщение"
						></textarea>
					</div>
				</div>
			</div>
			<div class="form-contacts__footer row">
				<div class="form-contacts__col col-8">
					<div class="form-contacts__check">
						{{mixins.checkbox({
							text: 'условиями обработки персональных данных',
							checked: true,
							validation: true
						})}}
					</div>
				</div>
				<div class="form-contacts__col col-4">
					<div class="form-contacts__footer-btn">
						<button type="submit" class="btn btn_w100 btn_bsnone">Отправить</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
{% endmacro %}
{# 										FORM #}

{# 										SEMINAR #}
{% macro seminar(props) %}
<div class="seminar {% if props.class %}{{props.class}}{% endif %}">
	<a href="#" class="seminar__top" style="background-image: url(./img/{{props.img}})">
		<div class="seminar__btn">
			<button type="button" class="btn btn_bold">{{props.title}}
		</div>
	</a>
	<ul class="seminar__list">
		{% for item in props.items %}
			<li class="seminar__item"><a href="#">{{item}}</a></li>
		{% endfor %}
	</ul>
</div>
{% endmacro %}
{# 										SEMINAR #}

{# 										MAP #}
{% macro map(props) %}
<div class="contacts">
	<div class="map" id="map"></div>
	<div class="contacts__info contacts-info">
		<h4 class="contacts-info__title title title_md">{{props.title}}</h4>
		<div class="contacts-info__aside">Адрес</div>
		<address>Метро Китай-Город, ул. Солянка, 1/2, 2 подъезд, 2 этаж</address>
		<div class="contacts-info__aside">Телефон</div>
		<div class="contacts-info__phone">
			<a href="tel:+74952553056">+7(495)255-30-56</a>
		</div>
		<div class="contacts-info__aside">Почта</div>
		<div class="contacts-info__phone">
			<a href="mailto:contact@pilates-institute.ru">Сontact@pilates-institute.ru</a>
		</div>
	</div>
</div>
{% endmacro %}
{# 										MAP #}

{% macro newsItem(props) %}
	<a href="#" class="news-item">
		<div class="news-item__content">
			<div class="news-item__date">{{ props.date }}</div>
			<h4 class="news-item__title title title_md">{{ props.title }}</h4>
			<div class="news-item__img">
				<img src="./img/{{ props.img }}" alt="news photo">
			</div>
			<div class="news-item__text">{{ props.text }}</div>
		</div>
	</a>
{% endmacro %}

{#  #}

{# 									SOCIAL CARD #}
{% macro socialCard(props) %}
<div class="social-card {% if props.class %}{{props.class}}{% endif %}">
	{% if props.slider %}
	<div class="social-card__slider js-instructor-slider">
		{% for item in props.img %}
		<div class="social-card__slide">
			<a data-fancybox="gallery" href="./img/{{item}}" class="social-card__img js-fancybox" style="background-image: url(./img/{{item}})"></a>
		</div>
		{% endfor %}
	</div>
	{% else %}
	<div class="social-card__img" style="background-image: url(./img/{{props.img}})"></div>
	{% endif %}
	{% if props.socials %}
		<ul class="social-card__socials white-block">
			{% for item in props.socials %}
			<li class="white-block__item">
				<a href="{{item.path}}">{{mixins.icon(item.icon)}}</a>
			</li>
			{% endfor %}
		</ul>
	{% endif %}
	{% if props.slider %}
		<div class="social-card__nav white-block white-block_slider js-instructor-slider-nav">
			{% for itemSmall in props.img %}
			<div class="social-card__nav-slide">
				<a href="#" class="white-block__item" style="background-image: url(./img/{{itemSmall}})"></a>
			</div>
			{% endfor %}
		</div>
	{% endif %}
</div>
{% endmacro %}
{# 									SOCIAL CARD #}

{# 										SCHEDULE 
{% macro schedule(props) %}
	<div class="schedule-group">
		<h3 class="schedule-group__title title title_md">{{ props.title }}</h3>
		<div class="schedule-group__items js-schedule-slider">
			{% for item in props.blocks %}
				<div class="schedule-group__item">
					<div class="schedule">
						<h3 class="schedule__block-title">{{ props.title }}</h3>
						<div class="schedule__date">
							<div class="schedule__title">Дата</div>
							<div class="schedule__content">
								<span>{{ item.dayStart }}</span>
								<span>—</span>
								<span>{{ item.dayEnd }}</span>
							</div>
						</div>
						<div class="schedule__city">
							<div class="schedule__title">Город</div>
							<div class="schedule__content">{{ item.city }}</div>
						</div>
						<div class="schedule__direction">
							<div class="schedule__title">Направление</div>
							<div class="schedule__content">{{ item.direction }}</div>
						</div>
						<div class="schedule__instructors">
							<div class="schedule__title">Преподователи</div>
							<div class="schedule__content">
								{% for trener in item.treners %}
									<div class="instructor-preview">
										<div class="instructor-preview__image" style="background-image: url(./img/{{ trener.image or 'trener@2x.png' }})"></div>
										<div class="instructor-preview__name">{{ trener.name }}</div>
									</div>
								{% endfor %}
							</div>
						</div>
						<div class="schedule__adress">
							<div class="schedule__title">Адрес</div>
							<div class="schedule__content">{{ item.adress }}</div>
						</div>
						<div class="schedule__price">
							<div class="schedule__title">Стоимость</div>
							<div class="schedule__content schedule__content_price">
								{{ item.price }}
								<button class="btn btn_small" type="button" data-modal-control="registration">Регистрация</button>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endmacro %}
 										SCHEDULE #}

{# 										CERTIFICATE #}
{% macro certificate(props) %}
<div class="certificate">
	<div class="certificate__img">
		<img src="./img/{{props.img}}" alt="certificate">
	</div>
	<div class="certificate__descr">
		<h2 class="certificate__title title-lg">{{props.title}}</h2>
		<div class="certificate__text">
			<p>{{props.text}}</p>
		</div>
	</div>
</div>
{% endmacro %}
{# 										CERTIFICATE #}

{# DROPDOWN #}
{% macro dropdown(props) %}
<div class="dropdown js-dropdown">
	<div class="dropdown__top js-dropdown-trigger">
		<h3 class="dropdown__title title title_sm">{{props.title}}</h3>
		<div class="dropdown__icon js-dropdown-icon">
			{{mixins.icon('arr-up')}}
		</div>
	</div>
	<div class="dropdown__text js-dropdown-text">
		<p>{{props.text}}</p>
	</div>
</div>
{% endmacro %}
{# DROPDOWN #}

{# BULLET #}
{% macro bullet(props) %}
<div class="bullet">
	<div class="bullet__number"></div>
	<div class="bullet__text">{{props.text}}</div>
</div>
{% endmacro %}
{# BULLET #}

{# QUOTE #}
{% macro quote(props) %}
<div class="quote-item">
	<h3 class="quote-item__title">{{props}}</h3>
</div>
{% endmacro %}
{# QUOTE #}

