{% import "partials/_mixins.html" as mixins %}

{# 									INSTRUCTOR #}
{% macro instructor(props) %}
<div class="instructor {% if props.class %}{{props.class}}{% endif %}">
	<a href="#" class="instructor__wrap">
		<div class="instructor__top"></div>
		<div class="instructor__bottom">
			<div class="instructor__img" style="background-image: url(./img/{{props.img}})"></div>
			<h4 class="instructor__title title-sm">{{props.name}}</h4>
			<div class="instructor__aside">{{props.aside}}</div>
			<p>{{props.text}}</p>
		</div>
	</a>
	<div class="instructor__btn">
		<a href="#" class="btn btn_wide">Записаться на курс</a>
	</div>
</div>
{% endmacro %}
{# 									INSTRUCTOR #}

{# 									TESTIMONIAL #}
{% macro testimonial(props) %}
	<div class="testimonial {% if props.class %}{{props.class}}{% endif %}">
		<div class="testimonial__top">
			<div class="testimonial__img" style="background-image: url(./img/testimonial.png)"></div>
			<div class="testimonial__main">
				<h4 class="testimonial__title title-sm">{{props.name}}</h4>
				<div class="testimonial__aside">{{props.aside}}</div>
			</div>
		</div>
		<div class="testimonial__bottom">
			<div class="testimonial__quote"></div>
			<p>{{props.text}}</p>
		</div>
	</div>
{% endmacro %}
{# 									TESTIMONIAL #}

{# 										FORM #}
{% macro form(props) %}
	<div class="feedback {% if props.class %}{{props.class}}{% endif %}">
		<div class="feedback__inner">
			<h3 class="feedback__title title title_lg">{% if props.title %}{{props.title}}{% endif %}</h3>
			<form action="/" class="form js-validation">
				<ul class="form__row row">
					<li class="form__col col-3 col-lg-4 col-sm-12">
						<div class="form-group">
							<input
								type="text"
								placeholder="Имя"
								data-validation="length"
								data-validation-length="min2"
								data-validation-error-msg="Имя должно быть не менее двух символов">
						</div>
					</li>
					<li class="form__col col-3 col-lg-4 col-sm-12">
						<div class="form-group">
							<input type="text" 
								placeholder="Телефон" 
								data-validation="custom"
								data-validation-regexp="^(\+7|7|8)?[\s\-]?\(?[489][0-9]{2}\)?[\s\-]?[0-9]{3}[\s\-]?[0-9]{2}[\s\-]?[0-9]{2}$"
								data-validation-error-msg="Пожалуйста, введите правильный номер телефона"
							/>
						</div>
					</li>
					<li class="form__col col-3 col-lg-4 col-sm-12">
						<div class="form-group">
							<input
								type="text"
								placeholder="Email"
								data-validation="email"
								data-validation-error-msg="Пожалуйста, введите правильный адрес"
							/>
						</div>
					</li>
					<li class="form__col col-3 col-lg-12">
						<div class="form__btn">
							<button type="submit" class="btn btn_md">Отправить</button>
						</div>
					</li>
				</ul>
				<div class="feedback__check">
					{{mixins.checkbox({
						text: 'условиями обработки персональных данных',
						checked: true,
						validation: true
					})}}
				</div>
			</form>
		</div>
	</div>
{% endmacro %}

{% macro contactsForm(props) %}
<div class="feedback {% if props.class %}{{props.class}}{% endif %}">
	<div class="feedback__inner">
		<h3 class="feedback__title title title_lg">{% if props.title %}{{props.title}}{% endif %}</h3>
		<form class="form-contacts js-validation">
			<div class="form-contacts__row row">
				<div class="form-contacts__col col-4 col-md-12">
					<div class="form-group">
						<input
							type="text"
							placeholder="Имя"
							data-validation="length"
							data-validation-length="min2"
							data-validation-error-msg="Имя должно быть не менее двух символов"
						/>
					</div>
				</div>
				<div class="form-contacts__col col-4 col-md-12">
					<div class="form-group">
						<input type="text" 
							placeholder="Телефон"
							data-validation="custom"
							data-validation-regexp="^(\+7|7|8)?[\s\-]?\(?[489][0-9]{2}\)?[\s\-]?[0-9]{3}[\s\-]?[0-9]{2}[\s\-]?[0-9]{2}$"
							data-validation-error-msg="Пожалуйста, введите правильный номер телефона"
						/>
					</div>
				</div>
				<div class="form-contacts__col col-4 col-md-12">
					<div class="form-group">
						<input 
							type="text"
							placeholder="Email"
							data-validation="email"
							data-validation-error-msg="Пожалуйста, введите правильный адрес"
						/>
					</div>
				</div>
				<div class="form-contacts__col col-12">
					<div class="form-group">
						<textarea 
							placeholder="Сообщение"
							data-validation="required"
							data-validation-error-msg="Пожалуйста, введите сообщение"
						></textarea>
					</div>
				</div>
			</div>
			<div class="form-contacts__footer row">
				<div class="form-contacts__col col-8">
					<div class="form-contacts__check">
						{{mixins.checkbox({
							text: 'условиями обработки персональных данных',
							checked: true,
							validation: true
						})}}
					</div>
				</div>
				<div class="form-contacts__col col-4">
					<div class="form-contacts__footer-btn">
						<button type="submit" class="btn btn_w100 btn_bsnone">Отправить</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
{% endmacro %}
{# 										FORM #}


{# 										MAP #}
{% macro map(props) %}
<div class="contacts">
	<div class="map" id="map"></div>
	<div class="contacts__info contacts-info">
		<h4 class="contacts-info__title title-sm">{{props.title}}</h4>
		<div class="contacts-info__aside">Адрес</div>
		<address>{{props.adress}}</address>
		<div class="contacts-info__aside">Телефон</div>
		<div class="contacts-info__phone">
			<a href="tel:{{props.phoneHref}}">{{props.phone}}</a>
		</div>
		<div class="contacts-info__aside">Почта</div>
		<div class="contacts-info__phone">
			<a href="mailto:{{props.mailHref}}">{{props.mail}}</a>
		</div>
	</div>
</div>
{% endmacro %}
{# 										MAP #}



{# 										CERTIFICATE 
{% macro certificate(props) %}
<div class="certificate">
	<div class="certificate__img">
		<img src="./img/{{props.img}}" alt="certificate">
	</div>
	<div class="certificate__descr">
		<h2 class="certificate__title title-lg">{{props.title}}</h2>
		<div class="certificate__text">
			<p>{{props.text}}</p>
		</div>
	</div>
</div>
{% endmacro %}
										CERTIFICATE #}


{# BULLET #}
{% macro bullet(props) %}
<div class="bullet">
	<div class="bullet__number"></div>
	<div class="bullet__text">{{props.text}}</div>
</div>
{% endmacro %}
{# BULLET #}

{# QUOTE #}
{% macro quote(props) %}
<div class="quote-item">
	<h3 class="quote-item__title">{{props}}</h3>
</div>
{% endmacro %}
{# QUOTE #}

