.cost
	&__title
		margin-bottom: 60px
	&__wrap
	&__left
		padding: 50px 128px 27px 50px
		border-radius: 15px
		box-shadow: 0 20px 56px -33px rgba(0,0,0,0.20)
		background: $white
	&__description
	&__item
	&__label
	&__price
	&__price_old
	&__right
.sm-form
	&__title