.icon-arrow-left {
  width: 1.43em;
  height: 1em;
  fill: currentColor;
}
.icon-arrow-right {
  width: 1.43em;
  height: 1em;
  fill: currentColor;
}
.icon-insta {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-play {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
